src/main/mule/hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<flow name="hello-worldFlow" doc:id="a5d5ad4d-8d9f-4c81-9e6a-bb3a8be9ca7b" >
		<http:listener doc:name="Listener" doc:id="0b3cd415-9390-4908-a59b-97289ff6df72" path="/hello" config-ref="HTTP_Listener_config"/>
		<set-payload value="Hello World" doc:name="Set Payload" doc:id="410099f3-4906-4f3f-a8a1-a37f9bb2b8b4" />
		<logger level="INFO" doc:name="Logger" doc:id="0cf43be5-5581-4ca0-af3d-50b6b0bd6752" message="#[payload]"/>
	</flow>
</mule>
